<!DOCTYPE html>
<html lang="@Context.GetCurrentCulture()">
<head>
    <meta http-equiv="content-language" content="@Context.GetCurrentCulture()-CA" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNet6MVC</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DotNet6MVC.styles.css" asp-append-version="true" />
    
    @* WET CDTS *@
    <script src="https://ssl-templates.services.gc.ca/rn/cls/wet/gcintranet/cdts/compiled/soyutils.js"></script>
    <script src="https://ssl-templates.services.gc.ca/rn/cls/wet/gcintranet/cdts/compiled/wet-@(Context.GetCurrentCulture()).js"></script>
    <script>
        document.write(wet.builder.refTop({}));
    </script>
    
    @* Configure WET apptop TODO *@
    <script>
        let appTop = {
            appName: [{ text: "@Localizer["AppName"]", href: "@Url.Action("Index", "Home", new {culture= @Context.GetCurrentCulture()})" }],
            lngLinks: [
                @Html.Raw(Context.GetFlippedLanguageLinkObject(Url))
            ],
            breadcrumbs: [
                {
                    title: "@Localizer["Breadcrumb.Home"]",
                    href: "@Url.Action("Index", "Home", new {culture= @Context.GetCurrentCulture()})",
                },
            ]
        };
    </script>
    @* Add per-page apptop config *@
    @await RenderSectionAsync("AppTop", required: false)

</head>
<body>
    @* WET header *@
    <div id="def-top"></div>
    <script>
        var defTop = document.getElementById("def-top");
        defTop.innerHTML = wet.builder.appTop(appTop);
    </script>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @* WET footer display *@
    <footer id="def-footer"></footer>
    <script>
        var defFooter = document.getElementById("def-footer");
        defFooter.innerHTML = wet.builder.footer({});
    </script>
    @* WET footer scripts *@
    <script>
        document.write(wet.builder.refFooter({}));
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
